*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
:root{
    --oq:white;
    --qora:#252525;
    --purple:#6C63FF;

}
.dark{
    --oq:#252525;
    --qora:white;
    --purple:#6C63FF;
}
body{
    padding: 100px 50px;
    text-align: center;
    background-color: var(--oq);
}
h1{
    font-size: 48px;
    color: var(--qora);
    margin-bottom: 20px;
}
#input{
    width: 450px;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #6C63FF;
    outline: none;
}
#add-btn{
    padding: 12px 24px;
    background-color: var(--purple);
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 18px;
}
#dark-btn{
    padding: 12px 24px;
    background-color: var(--purple);
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 18px;
}
#save-btn{
    padding: 12px 24px;
    background-color: green;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    display: none;
}
#add-btn:hover{
    background-color: #6C63FF;
    cursor: pointer;
}
#save-btn:hover{
    background-color: #6C63FF;
    cursor: pointer;
}
#sun {
    display: none;
}
#ul {
    width: 850px;
    margin: 20px auto;
    list-style: none;
}
#ul li,div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: 15px;
}
#ul li {
    padding: 15px;
    border-bottom: 1px solid var(--purple);
}
li p{
  font-size: 22px;
  color: var(--qora);
}
ul input{
    width: 25px;
    height: 25px;
}
li button{
    padding: 8px 0;
    font-size: 20px;
    border: none;
    background-color: inherit;
}
li button:nth-child(1){
    color: green;
    cursor: pointer;
}
li button:nth-child(2){
    color: red;
    cursor: pointer;
}